# Data Preprocessing and Feature Engineering

## Feature Selection - Statistical Tests
I use two statistical methods to identify the most important features:
1. **ANOVA F-test**: Tests if feature means differ significantly across classes
2. **Mutual Information**: Measures dependency between features and target (handles non-linear relationships)

In [ ]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df_prep = pd.read_csv(
    r"/home/samir-dahal/Diabetes_Classification/results/eda_results/eda_cleaned_diabetes_data.csv"
)

# Encode categorical variables
gender_encoder = LabelEncoder()
df_prep["Gender_encoded"] = gender_encoder.fit_transform(df_prep["Gender"])

class_encoder = LabelEncoder()
df_prep["CLASS_encoded"] = class_encoder.fit_transform(df_prep["CLASS"])

# Prepare features and target
X = df_prep.drop(columns=["No_Pation", "CLASS", "Gender", "CLASS_encoded"])
y = df_prep["CLASS_encoded"]

In [3]:
X.head()

   AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  Gender_encoded
0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0               0
1   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0               1
2   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0               0
3   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0               0
4   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0               1

In [4]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: CLASS_encoded, dtype: int64

In [ ]:
from sklearn.feature_selection import f_classif, mutual_info_classif

# ANOVA F-test
f_scores, p_values = f_classif(X, y)

anova_results = pd.DataFrame(
    {"Feature": X.columns, "F-Score": f_scores, "P-Value": p_values}
).sort_values("F-Score", ascending=False)

anova_results

           Feature     F-Score       P-Value
9              BMI  242.051861  8.217818e-86
3            HbA1c  210.696230  1.457470e-76
0              AGE  157.544547  7.026105e-60
5               TG   17.272981  4.270988e-08
4             Chol   11.355226  1.336699e-05
10  Gender_encoded    8.795762  1.639449e-04
8             VLDL    5.425953  4.537173e-03
1             Urea    2.485092  8.385487e-02
2               Cr    0.641488  5.267347e-01
6              HDL    0.445629  6.405538e-01
7              LDL    0.318750  7.271346e-01